SUPERVISOR_MODEL=qwen3.5:9b
ANALYST_MODEL=qwen3.5:9b
SIMULATOR_MODEL=qwen3.5:9b

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT=""